<h1>Welcome, <%= @user.first_name %>! </h1>

<h3>I have pledged to:</h3>
<% @pledges.each do |pledge| %>
    <p>Project: <%= pledge.project.title %></p>
    <p>My pledge: <%= pledge.dollar_amount %></p>
    <hr />
<% end %>

<h3>My projects:</h3>
<% @projects.each do |project| %>
  <p><%= project.title %></p>
<% end %>
