.site-header {
  text-align: center;
  margin-bottom: 1rem;
}

.logo {
  margin: 0;
  text-align: center;
  line-height: 50px;
  font-size: 2.5rem;
  a{
    font-size: 30px;
  }
}
.reminder a{
  box-shadow: 0px 0px 5px 0px grey;

}
.idea-icon {
  height: 40px;
}
